language: java
script: mvn -f parent/pom.xml deploy
after_success:
- git clone --depth=1 -b gh-pages https://${GH_TOKEN}@github.com/PizzaFactory/mRDT.git gh-pages
- cd gh-pages
- mvn process-resources install
env:
  global:
  - MAVEN_OPTS=-Xmx1024m
  - PIZZAFACTORY_VERSION=8.5
  - GIT_COMMITTER_NAME="Masaki Muranaka"
  - GIT_COMMITTER_EMAIL="monaka@monami-ya.jp"
  - secure: "Y+GPkjQnADw/kU06nAhCx3zIL2or9dWfJfMf2tn0zrtDHl2+dfHAkfh2Zrnbaa4epfVAaMuq6fg+tJpghYpvlLjfYI80tNlMkZYHh3VVODQLw2qjEDmwk0dvUoK0qfcQJTJk6d4VA7vQ8n9Wr6Vb8KptzwENK8MYY03r7iAa2KFvLyxlZv9uMQMl+a2pBv7c54ZR2sOLrITQlBeOVv/48183dZwywL7FSiRaMtUcELfDssMxzF/e2spKu0lD157Dwo/jwQdfmvHmTtj0Y+SCb7fCB5QZRmOnyhByasLfBImqyO2+WYHR66kK0HuMa4GME9+tZa1ETrJXHpnWk22mRwTggfzZ83jHdPCY/xot1/2jcEgA3ZEOCFpxT/9C76yBpMjff1UpJOGqiQGT9UTWzk++ZctpIBnvxwR52H4Iz87pnBXiI5LbEVR3N+UPNMxK0sMrLHWzeQWvLmXn5dVBHc2HKkDaU3HoKkrn3Mjxyf4qhjf7HsppcKfSkAP1n4EZnBMbgw3w1ZaWVVkjc7yGuC6WPXPbyw4Rf+YsrhJDiK/UbL2x0lLLXNwVZEAfO9q+668CH+uCMJ0OIboZuN8NqOfS7dXIKUPwU/n8nWRxxHCfR0sc2E/JYSiI5zFr5mwbbMoBWRN9arGlZmyvnkUbAIFcHsQnZMSw8R6ixL/EC6c="
