<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sphinx.emf.metaModelDescriptors">
      <descriptor
            class="jp.pizzafactory.model.asam.ide.AsamCcMMDescriptor"
            id="jp.pizzafactory.model.asam.cc">
      </descriptor>
   </extension>

</plugin>
