<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Asam -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="asam.cc.presentation.ContainerCatalogModelWizardID"
            name="%_UI_ContainerCatalogModelWizard_label"
            class="asam.cc.presentation.ContainerCatalogModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContainerCatalogModelFile.gif">
         <description>%_UI_ContainerCatalogModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Asam -->
      <editor
            id="asam.cc.presentation.ContainerCatalogEditorID"
            name="%_UI_ContainerCatalogEditor_label"
            icon="icons/full/obj16/ContainerCatalogModelFile.gif"
            extensions="asamcc"
            class="asam.cc.presentation.ContainerCatalogEditor"
            contributorClass="asam.cc.presentation.ContainerCatalogActionBarContributor">
      </editor>
   </extension>
</plugin>
