<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Catalog -->
      <package
            uri="http://www.w3.org/2001/XMLSchema-instance"
            class="asamcc.Container_catalogPackage"
            genModel="model/Catalog.genmodel"/>
   </extension>

</plugin>
