<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="jp.pizzafactory.model.asam.core.impl.AsamCCResourceFactoryImpl"
            contentTypeIdentifier="asamContainerCatalog">
      </parser>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="asamcc,xml"
            id="asamContainerCatalog"
            name="%content-type.name"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="CATALOG">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
